@tailwind base;
@tailwind components;
@tailwind utilities;
@import "../styles/ck-content.module.css";

html,
body {
  height: 100vh;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 16px;
}

.header,
.footer {
  width: 100%;
}

.main-content {
  display: flex;
  flex: 1;
  flex-direction: column;
}

@media (min-width: 768px) {
  .main-content {
    flex-direction: row;
  }
}

.tap-nav {
  width: 100%;
}

@media (min-width: 768px) {
  .tap-nav {
    width: 25%;
  }
}

.content {
  flex: 1;
}

.ckeditor-container .ck-editor__editable {
  min-height: 400px;
}

.ck-editor__editable li {
  margin-left: 20px;
}

.ck-editor__editable .todo-list {
  margin-left: 20px;
}

.calendar-container {
  width: 100%;
  max-width: 1200px;
  min-height: 300px;
  margin: 0 auto;
}


.fc-event {
  height: auto !important;
}

.fc-list-table .fc-list-event:hover .fc-list-event-title {
  background-color: transparent !important;
}

.fc-list-table .fc-list-event:hover .fc-list-event-time {
  background-color: transparent !important;
}

.fc-list-table .fc-list-event:hover .fc-list-event-graphic {
  background-color: transparent !important;
}

/* 날짜 헤더의 컨테이너 배경색 고정 */
.fc-list-day-cushion {
  background-color: #f0f0f0;
  /* 연한 회색 배경 */
}

/* 날짜 헤더의 글자색 고정 */
.fc-list-day-text,
.fc-list-day-side-text {
  color: #333333;
  /* 어두운 회색 글자 */
}

