@tailwind base;
@tailwind components;
@tailwind utilities;
@import "../styles/ck-content.module.css";

html,
body {
  height: 100vh;
  margin-left: 0;
  margin-right: 0;
}

.ckeditor-container .ck-editor__editable {
  min-height: 400px;
}

.ck-editor__editable li {
  margin-left: 20px;
}

.ck-editor__editable .todo-list {
  margin-left: 20px;
}
